.wel {
  color: white;
  display: flex;
  justify-content: center;
  opacity: 100;
}

.par {
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.act {
  color: white;
  display: flex;
  justify-content: center;
}

.wcon {
  background-color: rgba(82, 78, 78, 0.65);
  border-radius: 20px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}