.wel {
  color: white;
  display: flex;
  justify-content: center;
}

.par {
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.act {
  color: white;
  display: flex;
  justify-content: center;
}

.wcon {
  background-color: #010228;
}