.wel {
  color: white;
  display: flex;
  justify-content: center;
  opacity: 100;
}

.par {
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.act {
  color: white;
  display: flex;
  justify-content: center;
}

.wcon {
  background: url(../../../public/images/tikieva_event-_e15F3ZU-G4-unsplash.jpg);
  background-size: cover; 
  background-color: rgba();
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}