
.container {
  width: 400px;
  padding: 60px;
  background-color: rgba(82, 78, 78, 0.65);
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 10px;
  width: 75%;
}

input {
  margin-bottom: 20px;
  width: 50%;
}

.label {
  font-size: 20px;
}

.inputContainer {
  margin: 30px;
}