.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.inputContainer {
  margin-bottom: 1rem;
  width: 75%;
  text-align: center;
}
