
.navbar { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: stretch;
    list-style-type: none;
    padding: 0 20px ;
    background: rgb(157, 158, 156);
    height: 10vh;
  }
  
  .navitems {
  
    display: flex;
    padding: 10px, 90px, 10px ;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
   }
  
   .navul {
  
    display: flex;
    padding: 0 30px;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
   }