header {
  background-color: rgba(82, 78, 78, 0.65);
  padding: 15px;
  box-shadow: 0 0 3px #000;
}
h1 {
  display: grid;
  place-items: center;
  height: 7vh;
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: blue;
}
.navul {
  display: flex;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin-left: 45px;
  color: white;
  font-size: 18px;
  font-family: 'Convergence', sans-serif;
}
.welc {
  color: white;
  font-family: 'Convergence', sans-serif;

}
.navbar {
  text-align: center;
}
hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 20%;
}
