.mpd {
  background-color: rgba(82, 78, 78, 0.65);
  width: 600px;
  border-radius: 20px;
  padding: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
}

.lin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(48, 52, 60);
  color: white;
  border-radius: 2px;
}

.fav {
  color: white;
  display: flex;
  justify-content: center;
}
.profilePhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
}