.boozyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.profilePhoto {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

p {
  color: whitesmoke;
  text-align: center;
}

.favorites {
  color: white;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  padding: 10px;
  background-color: rgba(82, 78, 78, 0.65);
  border: solid 1px whitesmoke;
  border-radius: 5px;
  margin: 5px auto 10px auto;
  color: whitesmoke;
}