.signupContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 400px;
  padding: 60px;
  background-color: rgba(82, 78, 78, 0.65);
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
  border-radius: 20px;
  color: white;
  text-align: center;
}
.label,
.button {
  margin-right: .5rem;
}
.inputContainer {
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photoInput{
  display: flex;
  justify-content: center;
}
