body {
  background: url(../../components/images/tikieva_event-_e15F3ZU-G4-unsplash.jpg);
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}


