.navbar { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
    align-content: stretch;
    list-style-type: none;
    padding: 0 20px ;
    background-color: aqua;
    background: rgb(136, 132, 132);
 }
 body {
    /* background: url(../../components/images/photo-1546081614-6f95a437dc2c.jpeg); */
    /* background-size: cover; */
    background-color: #212121;
    
  }