body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
}
code {
  font-family: 'Rajdhani', sans-serif;
}
button {
  padding: 10px;
  background-color: rgba(82, 78, 78, 0.65);
  border: solid 1px whitesmoke;
  border-radius: 5px;
  margin: 10px;
  color: whitesmoke;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
}
input {
  height: 35px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
}

::placeholder{
  font-family: 'Rajdhani', sans-serif;
  padding: 4px;
  font-size: 15px;
}

select {
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  border: none;
}
