.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgba(82, 78, 78, 0.65);
  color: white;
  width: 400px;
  padding: 60px;
  border-radius: 20px;
}


.inputContainer {
  margin-bottom: 1rem;
  width: 400px;
  text-align: center;
}
