h1, h3 {
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: #000 1px 1px 1px;
}
h2{
  color: white;
  display: flex;
  justify-content: center;
}
.cbtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.addcn {
  width: 300px;
  padding: 60px;
  background-color: rgba(82, 78, 78, 0.65);
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
}

